<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bbq" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag "application", media: "all" %>

    <%= javascript_pack_tag "application" %>
  </head>
  <body>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>

      <footer>
        <p>&copy; Company 2021</p>
      </footer>

    </div>

  </body>
</html>
